* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #333, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: solid 3px white;
    background-color: crimson;
    position: relative;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 40px;
    padding-top: 15px;
    color: white;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }


.clock .rotate1 {
    transform: rotate(-30deg);
}
.clock .rotate2 {
    transform: rotate(-60deg);
}
.clock .rotate3 {
    transform: rotate(-90deg);
    padding-left: 10px;
}
.clock .rotate4 {
    transform: rotate(-120deg);
}
.clock .rotate5 {
    transform: rotate(-150deg);
}
.clock .rotate6 {
    transform: rotate(180deg);
}
.clock .rotate7 {
    transform: rotate(150deg);
}
.clock .rotate8 {
    transform: rotate(120deg);
}
.clock .rotate9 {
    transform: rotate(90deg);
    padding-right: 5px;
}
.clock .rotate10 {
    transform: rotate(60deg);
    padding-top: 10px;
}
.clock .rotate11 {
    transform: rotate(30deg);
    padding-top: 5px;
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    transform-origin: bottom;
    border-radius: 10px;
    transform: translatex(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second {
    width: 3px;
    height: 45%;
    background-color: white;
}

.clock .hand.minute {
    width: 6px;
    height: 38%;
    background-color: black;
}

.clock .hand.hour {
    width: 9px;
    height: 30%;
    background-color: black;
}

.clock .point {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 10px;
    color: white;
}

.clock .point5,
.clock .point10,
.clock .point15,
.clock .point20,
.clock .point25,
.clock .point30,
.clock .point35,
.clock .point40,
.clock .point45,
.clock .point50,
.clock .point55,
.clock .point60 {
    font-size: 20px;
}

.clock .point1 { --rotation: 6deg}
.clock .point2 { --rotation: 12deg}
.clock .point3 { --rotation: 18deg}
.clock .point4 { --rotation: 24deg}
.clock .point5 { --rotation: 30deg}
.clock .point6 { --rotation: 36deg}
.clock .point7 { --rotation: 42deg}
.clock .point8 { --rotation: 48deg}
.clock .point9 { --rotation: 54deg}
.clock .point10 { --rotation: 60deg}
.clock .point11 { --rotation: 66deg}
.clock .point12 { --rotation: 72deg}
.clock .point13 { --rotation: 78deg}
.clock .point14 { --rotation: 84deg}
.clock .point15 { --rotation: 90deg}
.clock .point16 { --rotation: 96deg}
.clock .point17 { --rotation: 102deg}
.clock .point18 { --rotation: 108deg}
.clock .point19 { --rotation: 114deg}
.clock .point20 { --rotation: 120deg}
.clock .point21 { --rotation: 126deg}
.clock .point22 { --rotation: 132deg}
.clock .point23 { --rotation: 138deg}
.clock .point24 { --rotation: 144deg}
.clock .point25 { --rotation: 150deg}
.clock .point26 { --rotation: 156deg}
.clock .point27 { --rotation: 162deg}
.clock .point28 { --rotation: 168deg}
.clock .point29 { --rotation: 174deg}
.clock .point30 { --rotation: 180deg}
.clock .point31 { --rotation: 186deg}
.clock .point32 { --rotation: 192deg}
.clock .point33 { --rotation: 198deg}
.clock .point34 { --rotation: 204deg}
.clock .point35 { --rotation: 210deg}
.clock .point36 { --rotation: 216deg}
.clock .point37 { --rotation: 222deg}
.clock .point38 { --rotation: 228deg}
.clock .point39 { --rotation: 234deg}
.clock .point40 { --rotation: 240deg}
.clock .point41 { --rotation: 246deg}
.clock .point42 { --rotation: 252deg}
.clock .point43 { --rotation: 258deg}
.clock .point44 { --rotation: 264deg}
.clock .point45 { --rotation: 270deg}
.clock .point46 { --rotation: 276deg}
.clock .point47 { --rotation: 282deg}
.clock .point48 { --rotation: 288deg}
.clock .point49 { --rotation: 294deg}
.clock .point50 { --rotation: 300deg}
.clock .point51 { --rotation: 306deg}
.clock .point52 { --rotation: 312deg}
.clock .point53 { --rotation: 318deg}
.clock .point54 { --rotation: 324deg}
.clock .point55 { --rotation: 330deg}
.clock .point56 { --rotation: 336deg}
.clock .point57 { --rotation: 342deg}
.clock .point58 { --rotation: 348deg}
.clock .point59 { --rotation: 354deg}
.clock .point60 { --rotation: 360deg}